# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*.idea
*.iml
*.ipr
node_modules
**/libs
**/npm-debug.log
/version/section-video/video/about.mp4
/version/text-video/video/about.mp4
/version/no-video/video/about.mp4
/version/full-video/video/about.mp4
/version/text-video/video/bg-cyber.mp4
/version/section-video/video/bg-cyber.mp4
/version/no-video/video/bg-cyber.mp4
/version/full-video/video/bg-cyber.mp4
/version/text-video/video/bg-homeland.mp4
/version/section-video/video/bg-homeland.mp4
/version/no-video/video/bg-homeland.mp4
/version/full-video/video/bg-homeland.mp4
/version/text-video/video/bg-strategical.mp4
/version/section-video/video/bg-strategical.mp4
/version/full-video/video/bg-strategical.mp4
/version/no-video/video/bg-strategical.mp4
/version/text-video/video/bg-tactical.mp4
/version/no-video/video/bg-tactical.mp4
/version/section-video/video/bg-tactical.mp4
/version/full-video/video/bg-tactical.mp4
/version/section-video/fonts/Circe-Bold.ttf
/version/text-video/fonts/Circe-Bold.ttf
/version/full-video/fonts/Circe-Bold.ttf
/version/no-video/fonts/Circe-Bold.ttf
/version/text-video/fonts/Circe-ExtraBold.ttf
/version/full-video/fonts/Circe-ExtraBold.ttf
/version/no-video/fonts/Circe-ExtraBold.ttf
/version/section-video/fonts/Circe-ExtraBold.ttf
/version/text-video/fonts/Circe-ExtraLight.ttf
/version/full-video/fonts/Circe-ExtraLight.ttf
/version/no-video/fonts/Circe-ExtraLight.ttf
/version/section-video/fonts/Circe-ExtraLight.ttf
/version/section-video/fonts/Circe-Light.ttf
/version/text-video/fonts/Circe-Light.ttf
/version/full-video/fonts/Circe-Light.ttf
/version/no-video/fonts/Circe-Light.ttf
/version/section-video/fonts/Circe-Regular.ttf
/version/text-video/fonts/Circe-Regular.ttf
/version/full-video/fonts/Circe-Regular.ttf
/version/no-video/fonts/Circe-Regular.ttf
/version/section-video/fonts/Circe-Thin.ttf
/version/text-video/fonts/Circe-Thin.ttf
/version/full-video/fonts/Circe-Thin.ttf
/version/no-video/fonts/Circe-Thin.ttf
